/* height: 812px;
 width: 1440px; */
/* Background color for the website */

body {
  margin: 0 auto;
  opacity: 0;
  overflow-x: hidden;
}
body.loaded {
  opacity: 1;
}



.navigation-bar-home .home-link.active div {

}

.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh) * 100);
  width: calc(var(--vw) * 100);
}

.container-all {
  width: 100%;
  max-width: calc(var(--vw) * 100);
  aspect-ratio: 1440 / 812;
  position: relative;
  transform-origin: top left;
}

.martin {
  position: absolute;
  bottom: -0.2em;
  left: calc(var(--vw) * 2);
  width: auto;
  height: auto;
  max-width: calc(var(--vw) * 60);
  object-fit: contain;
  transform-origin: bottom left;
  transform: scale(1);
}

.martin-linden {
  position: absolute;
  font-family: 'Italiana', serif;
  font-size: calc(var(--vw) * 5.9);
   left: calc(var(--vw) * 49.5);
  bottom: calc(var(--vh) * 19.7);
  font-weight: bold;
  color: #8C512B;

}

.interaction-design {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: calc(var(--vw) * 3.47);
  left: calc(var(--vw) * 69.5);
  bottom: calc(var(--vh) * 13.55);
  font-weight: 100;
  color: #8C512B;
}

.navigation-bar-home {
  display: flex;
  gap: calc(var(--vw) * 1.736);
  position: absolute;
  right: calc(var(--vw) * 3.473);
  top: calc(var(--vh) * 2.463);
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(var(--vw) * 100);
  z-index: 1;
}

.nav-rectangel {
   width: calc(var(--vw) * 100);
  height: calc(var(--vh) * 7.389);
  background-color: #FFB16C;
}

.home-home, .project-home, .education-home, .contact-home {
  font-size: calc(var(--vw) * 1.74);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #A36238;
}

.project-detail {
  font-size: calc(var(--vw) * 1.74);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
}

.text-wrapper {
  position: absolute;
  left: calc(var(--vw) * 13.889);
  top: calc(var(--vh) * 9.852);
  width: calc(var(--vw) * 70);
  display: flex;
  flex-direction: column;
  gap: calc(var(--vh) * 4);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.text-designer {
  font-size: calc(var(--vw) * 6.94);
  font-weight: bold;
}

.text-block-1,
.text-block-2 {
  font-size: calc(var(--vw) * 1.67);
  font-weight: 300;
  text-align: justify;
  max-width: calc(var(--vw) * 50);
}

.bold-text-1 {
  font-weight: 500;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--vw) * 2);
  margin-top: calc(var(--vh) * 2);
}

.keyword {
  font-size: calc(var(--vw) * 1.25);
  font-weight: 500;
}


""" Projects page"""
.home-projects:hover {
    color: #C50889;
}

.project-projects:hover {
    color: #C50889;
}

.education-projects:hover {
    color: #C50889;
}

.contact-projects:hover {
    color: #C50889;
}

/* Linking the Projects page to Home page */
.home-link {
  text-decoration: none;
  color: inherit;
}

.idea {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: 'Roboto', sans-serif;
    font-size: calc(var(--vw) * 4.44);
    font-weight: bold;
    color: #5C6356;
    top: calc(var(--vh) * 19.678);
    left: calc(var(--vw) * 4.861);
}

.curved-line {
    position: absolute;
    width: calc(var(--vw) * 2.083);
    height: calc(var(--vh) * 3.282);
    top: calc(var(--vh) * 14.752);
    left: calc(var(--vw) * 7.639);
}

.design {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: calc(var(--vw) * 4.44);
    font-weight: bold;
    color: #5C6356;
    top: calc(var(--vh) * 9.852);
    left: calc(var(--vw) * 10.764);
}


.idea-2 {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: 'Roboto', sans-serif;
    font-size:  calc(var(--vw) * 4.44);
    font-weight: bold;
    color: #5C6356;
    top:  calc(var(--vh) * 22.678);
    left:  calc(var(--vw) * 4.861);
}

.curved-line-2{
    position: absolute;
    width:  calc(var(--vw) * 2.083);
    height:  calc(var(--vh) * 3.282);
    top:  calc(var(--vh) * 17.752);
    left:  calc(var(--vw) * 7.639);
}

.design-2 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size:  calc(var(--vw) * 4.44);
    font-weight: bold;
    color: #5C6356;
    top:  calc(var(--vh) * 12.852);
    left:  calc(var(--vw) * 10.764);
}

.green-rectangle {
  position: absolute;
  width: calc(var(--vw) * 88.194);
  height: calc(var(--vh) * 66.502);
  top: calc(var(--vh) * 22.788);
  left: calc(var(--vw) * 10.764);
  background-color: #98A68D;
  border-radius: calc(var(--vw) * 2);
}




.container-dotmenu {
      position: absolute;
      display: flex;
      gap:  calc(var(--vw) * 0.694);
      justify-content: center;
      align-items: center;
      width: fit-content;
      top:  calc(var(--vh) * 17.6);
      left:  calc(var(--vw) * 30.903);
}

.dot-1 {
      width:  calc(var(--vw) * 1.389);
      height:  calc(var(--vh) * 2.463);
      background-color: #5C6356;
      border-radius: 50%;
}

.dot-2, .dot-3, .dot-4, .dot-5, .dot-6{
      width:  calc(var(--vw) * 1.389);
      height:  calc(var(--vh) * 2.463);
      background-color: #FFFFFF;
      border-radius: 50%;

}

/* Green rectangle animations */
.green-rectangle {
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    position: relative; /* Important for positioning child elements absolutely */
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* Hidden content container */
.content-container {
    display: none;
}

/* Specific styling and positioning for content elements */
.content-1 {
    position: absolute;
    top: calc(var(--vh) * 6.158);
    left: calc(var(--vw) * 3.472);
    font-size: calc(var(--vw) * 1.53);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
}


.content-2 {
    position: absolute;
    top: calc(var(--vh) * 8.621);
    left: calc(var(--vw) * 4.861);
    font-size: calc(var(--vw) * 1.53);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
}


/* Repeat similar positioning for other content elements */
.content-3 {
    position: absolute;
    top: calc(var(--vh) * 12.32);
    left: calc(var(--vw) * 6.94);
}

.content-4 {
    position: absolute;
    top: calc(var(--vh) * 14.78);
    left: calc(var(--vw) * 8.33);
}

.content-5 {
    position: absolute;
    top: calc(var(--vh) * 17.24);
    left: calc(var(--vw) * 9.72);
}


/* Base style for dots */

/* Style for filled dots */
.filled-dot {
    background-color: #5C6356; /* Same color as the green rectangle */
}

#container-1 {
    position: absolute;
    top: calc(var(--vh) * 30);
    left: calc(var(--vw) * 13.19);
}

#container-2 {
    position: absolute;
    top: calc(var(--vh) * 38.18);
    left: calc(var(--vw) * 13.19);
}

#container-3 {
    position: absolute;
    top: calc(var(--vh) * 38.18);
    left: calc(var(--vw) * 13.19);
}


.hidden-text-container {
  position: relative; /* Container needs relative positioning to position children absolutely */
  width: calc(var(--vw) * 70); /* Adjust width dynamically */
  height: calc(var(--vh) * 25.84); /* Adjust height dynamically */
}

.hidden-text-content {
  position: absolute;
  width: 25%; /* Each block takes up 25% of the container's width */
  font-size: calc(var(--vw) * 1.53); /* Font size in vw */
  color: black;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* Adjust left position for each block in pixels */
.hidden-text-content:nth-child(1) {
  left: calc(var(--vw) * 0);  /* First block starts at the left edge */
}

.hidden-text-content:nth-child(2) {
  left: calc(var(--vw) * 19.10);  /* Move the second block 150px to the right */
}

.hidden-text-content:nth-child(3) {
  left: calc(var(--vw) * 40.28);  /* Move the third block 300px to the right */
}

.hidden-text-content:nth-child(4) {
  left: calc(var(--vw) * 59.38);  /* Move the fourth block 450px to the right */
}


.process {
  position: absolute;
  top: calc(-7.39 * var(--vh));  /* Using calc for converting vh to px */
  left: 0px;  /* No need for vw here */
  font-size: calc(1.53 * var(--vw));  /* Convert vw to px */
  color: #5C6356;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.product {
  position: absolute;
  top: calc(-7.39 * var(--vh));
  left: calc(40.28 * var(--vw));  /* Convert vw to px */
  font-size: calc(1.53 * var(--vw));
  color: #5C6356;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.process_2 {
  position: absolute;
  top: calc(-7.39 * var(--vh));
  left: 0px;
  font-size: calc(1.53 * var(--vw));
  color: #5C6356;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.product_2 {
  position: absolute;
  top: calc(-7.39 * var(--vh));
  left: calc(40.28 * var(--vw));
  font-size: calc(1.53 * var(--vw));
  color: #5C6356;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.process_3 {
  position: absolute;
  top: calc(-7.39 * var(--vh));
  left: 0px;
  font-size: calc(1.53 * var(--vw));
  color: #5C6356;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.product_3 {
  position: absolute;
  top: calc(-7.39 * var(--vh));
  left: calc(40.28 * var(--vw));
  font-size: calc(1.53 * var(--vw));
  color: #5C6356;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


#image_project-1 {
    position: relative;
    width: 92%; /* Adjust the width as needed */
    height: 92%; /* Adjust the height as needed */
    display: flex;
    top: calc(var(--vh) * 2.46);
    left: calc(var(--vw) * 3.47);
}

.image-container {
    display: flex;
    justify-content: center; /* Centers the images inside the container */
    gap: calc(var(--vw) * 1.39); /* Adds space between images */
    position: relative;
    /* No transition here, as we want each image to transition individually */
}

.image-container img {
    height: auto; /* Maintains the aspect ratio */
    width: 100%; /* Adjusts the image width to fit the container */
    max-width: calc(var(--vw) * 27.78); /* Sets a max width for the images */
    display: block; /* Prevents extra spacing around the image */
    transition: transform 0.3s ease-in-out; /* Smooth transition for each image */
    transform-origin: center center; /* Scale from the center */
}

.image-container img:hover {
    transform: scale(1.02); /* Scale on hover for individual images */
    cursor: pointer;
}


.image-container-2 {
  position: relative; /* Ensures child images are positioned relative to this container */
  top: calc(var(--vh) * 3.5);  /* Convert vh to px */
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
}

.verni-1 {
    position: absolute;
    top: calc(-3.69 * var(--vh)); /* Convert vh to px */
    left: calc(25.97 * var(--vw)); /* Convert vw to px */
    width: calc(56.25 * var(--vw)); /* Convert vw to px */
    height: auto;
    transition: all 0.3s ease-in-out; /* Smooth transition with ease-in-out */
    transform-origin: center center; /* Scale from the center */
}

.verni-1:hover {
    transform: scale(1.02); /* Scale on hover */
    cursor: pointer;
}

.verni-2 {
    position: absolute;
    top: calc(-3.69 * var(--vh)); /* Convert vh to px */
    left: calc(-2.08 * var(--vw)); /* Convert vw to px */
    width: calc(26.6 * var(--vw)); /* Convert vw to px */
    height: auto; /* Maintain aspect ratio */
    transition: all 0.3s ease-in-out; /* Smooth transition with ease-in-out */
    transform-origin: center center; /* Scale from the center */
}

.verni-2:hover {
    transform: scale(1.02); /* Scale on hover */
    cursor: pointer;
}

.verni-4 {
    position: absolute;
    top: calc(26.11 * var(--vh)); /* Convert vh to px */
    left: calc(-2.08 * var(--vw)); /* Convert vw to px */
    width: calc(26.6 * var(--vw)); /* Convert vw to px */
    height: auto; /* Maintain aspect ratio */
    transition: all 0.3s ease-in-out; /* Smooth transition with ease-in-out */
    transform-origin: center center; /* Scale from the center */
}

.verni-4:hover {
    transform: scale(1.02); /* Scale on hover */
    cursor: pointer;
}

.verni-5 {
    position: absolute;
    top: calc(34.15 * var(--vh)); /* Convert vh to px */
    left: calc(-2.08 * var(--vw)); /* Convert vw to px */
    width: calc(26.6 * var(--vw)); /* Convert vw to px */
    height: auto; /* Maintain aspect ratio */
    transition: all 0.3s ease-in-out; /* Smooth transition with ease-in-out */
    transform-origin: center center; /* Scale from the center */
}


.verni-5:hover {
    transform: scale(1.02); /* Scale on hover */
    cursor: pointer;
}

.verni-6 {
    position: absolute;
    top: calc(18.2 * var(--vh)); /* Convert vh to px */
    left: calc(-2.08 * var(--vw)); /* Convert vw to px */
    width: calc(26.6 * var(--vw)); /* Convert vw to px */
    height: auto; /* Maintain aspect ratio */
    transition: all 0.3s ease-in-out; /* Smooth transition with ease-in-out */
    transform-origin: center center; /* Scale from the center */
}


.verni-6:hover {
    transform: scale(1.02); /* Scale on hover */
    cursor: pointer;
}

#image_project-3 {
    position: relative;
    width: 92%; /* Adjust the width as needed */
    height: 92%; /* Adjust the height as needed */
    display: flex;
    top: calc(2.46 * var(--vh)); /* Convert vh to px */
    left: calc(3.47 * var(--vw)); /* Convert vw to px */
}

.image-container-3 {
    display: flex;
    justify-content: center; /* Centers the images inside the container */
    gap: calc(1.39 * var(--vw)); /* Convert vw to px for gap */
    position: relative;
}


.image-container-3 img {
    height: auto; /* Maintains the aspect ratio */
    width: 100%; /* Adjusts the image width to fit the container */
    max-width: calc(27.78 * var(--vw)); /* Converts max-width from vw to px */
    display: block; /* Prevents extra spacing around the image */
}

/* Styling for the enlarged image overlay */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100 * var(--vw)); /* Converts 100vw to px */
    height: calc(100 * var(--vh)); /* Converts 100vh to px */
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
}


.image-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 0px;

}

/* Show the overlay when active */
.image-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0s;
}

/* Ensures images have cursor pointer */
.image-container img,
.image-container-2 img,
.image-container-3 img {
    cursor: pointer;
}
/* General image positioning */
.overview-1 img,
.overview-2 img,
.overview-3 img,
.overview-4 img,
.overview-5 img,
.overview-6 img {
    position: absolute;
    border-radius: calc(var(--vw) * 2);
    border: calc(var(--vw) * 0.3) solid #98A68D;
    transition: all 0.3s ease; /* Smooth transition for scaling and movement */
}

/* Initial positioning for each image */
.overview-1 img {
    top: calc(var(--vh) * 20.89);
    left: calc(var(--vw) * 11.11);
    width: calc(var(--vw) * 19.79);
}

.overview-2 img {
    top: calc(var(--vh) * 20.89);
    left: calc(var(--vw) * 32.63);
    width: calc(var(--vw) * 49.03);
}

.overview-3 img {
    top: calc(var(--vh) * 73.5);
    left: calc(var(--vw) * 32.63);
    width: calc(var(--vw) * 49.03);
}

.overview-4 img {
    top: calc(var(--vh) * 100);
    left: calc(var(--vw) * 11.11);
    width: calc(var(--vw) * 19.79);
}

.overview-5 img {
    top: calc(var(--vh) * 131.7);
    left: calc(var(--vw) * 32.63);
    width: calc(var(--vw) * 49.03);
}

.overview-6 img {
    top: calc(var(--vh) * 178.47);
    left: calc(var(--vw) * 11.11);
    width: calc(var(--vw) * 19.79);
}


/* Hover effect for overview-1 */
.overview-1:hover img {
    transform: scale(1.1); /* Scale up the image */
    top: calc(var(--vh) * 24.39);
    left: calc(var(--vw) * 12);
    border: calc(var(--vw) * 0.486) solid #E0E8D9;
}

/* Move images 2, 3, and 4 when overview-1 is hovered */
.overview-1:hover ~ .overview-2 img {
    left: calc(var(--vw) * 34.5);
}

.overview-1:hover ~ .overview-3 img {
    left: calc(var(--vw) * 34.5);
}

.overview-1:hover ~ .overview-4 img {
    top: calc(var(--vh) * 106.89);
}

/* Hover effect for overview-2 */
.overview-2:hover img {
    transform: scale(1.1);
    top: calc(var(--vh) * 23.39);
    left: calc(var(--vw) * 35.42);
    border: calc(var(--vw) * 0.486) solid #E0E8D9;
}

/* Hover effect for overview-4 */
.overview-4:hover img {
    transform: scale(1.1);
    top: calc(var(--vh) * 103.42);
    left: calc(var(--vw) * 12.22);
    border: calc(var(--vw) * 0.486) solid #E0E8D9;
}

/* Move overview-3 when overview-4 is hovered */
.overview-2:hover ~ .overview-3 img {
    top: calc(var(--vh) * 78.39);
}

/* Hover effect for overview-3 */
.overview-3:hover img {
    transform: scale(1.1);
    top: calc(var(--vh) * 75.74);
    left: calc(var(--vw) * 35.14);
    border: calc(var(--vw) * 0.486) solid #E0E8D9;
}

/* Hover effect for overview-5 */
.overview-5:hover img {
    transform: scale(1.1);
    top: calc(var(--vh) * 133.0);
    left: calc(var(--vw) * 35.14);
    border: calc(var(--vw) * 0.486) solid #E0E8D9;
}

/* Hover effect for overview-6 */
.overview-6:hover img {
    transform: scale(1.1);
    top: calc(var(--vh) * 182.3);
    left: calc(var(--vw) * 12.22);
    border: calc(var(--vw) * 0.486) solid #E0E8D9;
}


.back-button {
  font-size:  calc(var(--vw) * 1.74);
  position: absolute;
  left:  calc(var(--vw) * -62);
  cursor: pointer;
  color: #5C6356;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.back-button:hover {
  color: #FFFFFF;
}

/* Education Page */
.navigation-bar-container {
    display: flex;
    gap: calc(2.08 * var(--vw));
    position: absolute;
    right: calc(3.47 * var(--vw));
    top: calc(8.99 * var(--vh));
}


.home-edu, .project-edu, .education-edu, .contact-edu {
    font-size: calc(2.08 * var(--vw));
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #535A7A;
}


.home-edu:hover,
.project-edu:hover,
.education-edu:hover,
.contact-edu:hover {
    color: #C50889;
}

.degree {
    position: absolute;
    font-size: calc(4.44 * var(--vw));
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    top: calc(13.55 * var(--vh));
    left: calc(4.861 * var(--vw));
    color: #3F4666;
}


.degree-year {
    position: absolute;
    font-size: calc(2.08 * var(--vw));
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    top: calc(17.24 * var(--vh));
    left: calc(22.14 * var(--vw));
    color: #3F4666;
}

.degree-gapyear {
    position: absolute;
    font-size: calc(0.97 * var(--vw));
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    top: calc(23.40 * var(--vh));
    left: calc(4.78 * var(--vw));
    color: #000000;
}


.kth-more, .umu-more {
    white-space: nowrap;
    cursor: pointer;
    font-size: calc(1.67 * var(--vw));
    font-family: 'Roboto', sans-serif;
    color: #2B3252;
}


.kth-more:hover, .umu-more:hover {
    color: white;
}

.umu {
    position: relative;
    left: calc(8.5 * var(--vw));
    top: calc(1.5 * var(--vh));
    width: calc(6.60 * var(--vw));
    height: auto;
    margin-bottom: calc(3.7 * var(--vh));
    border-radius: calc(0.35 * var(--vw));
}

.b-sc {
    position: relative;
    top: calc(-14 * var(--vh));
    left: calc(16.5 * var(--vw));
    font-size: calc(2.08 * var(--vw));
    max-width: calc(25.69 * var(--vw));
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0vh;
}

.b-sc-uni {
    position: relative;
    top: calc(-13.5 * var(--vh));
    left: calc(16.5 * var(--vw));
    font-size: calc(1.67 * var(--vw));
    font-family: 'Roboto', sans-serif;
}


.text-umu {
    position: relative;
    text-align: justify;
    font-size: calc(1.67 * var(--vw));
    font-family: 'Roboto', sans-serif;
    max-width: calc(31 * var(--vw));
    font-weight: 300;
    margin-top: calc(2.46 * var(--vh));
    left: calc(9.5 * var(--vw));
    top: calc(-9.5 * var(--vh));
}

.umu-more {
    position: relative;
    left: calc(21.5 * var(--vw));
    top: calc(21.6 * var(--vh));
}

/* Flip Card Base */
.flip-card {
    position: relative;
    width: calc(48.61 * var(--vw));
    height: calc(67.73 * var(--vh));
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;
}

.container-kth {
    position: relative;
    left: calc(2.08 * var(--vw));
    top: calc(-10.5 * var(--vh));
    display: flex;
    flex-direction: column;
}

.kth {
    position: relative;
    left: calc(5.5 * var(--vw));
    top: calc(4 * var(--vh));
    width: calc(6.60 * var(--vw));
    height: auto;
    margin-bottom: calc(3.7 * var(--vh));
    border-radius: calc(0.14 * var(--vw));
}


.m-sc {
    position: relative;
    top: calc(-12 * var(--vh));
    left: calc(13.5 * var(--vw));
    font-size: calc(2.08 * var(--vw));
    max-width: calc(25.69 * var(--vw));
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: calc(0 * var(--vh));
}

.m-sc-uni {
    position: relative;
    top: calc(-11.5 * var(--vh));
    left: calc(13.5 * var(--vw));
    font-size: calc(1.67 * var(--vw));
    font-family: 'Roboto', sans-serif;
}


.text-kth {
    position: relative;
    text-align: justify;
    font-size: calc(1.67 * var(--vw));
    font-family: 'Roboto', sans-serif;
    max-width: calc(30 * var(--vw));
    font-weight: 300;
    margin-top: calc(2.46 * var(--vh));
    left: calc(6.5 * var(--vw));
    top: calc(-12 * var(--vh));
}

.kth-more {
    position: relative;
    left: calc(16.67 * var(--vw));
    top: calc(18 * var(--vh));
}


.strack {
    width: calc(0.21 * var(--vw));
    height: calc(55.4 * var(--vh));
    background-color: #919DD4;
    position: absolute;
    left: calc(50 * var(--vw));
    transform: translateX(-50%);
    top: calc(36 * var(--vh));
    transition: left 0.4s ease;
}

.container {
    position: absolute;
    display: flex;
    gap: calc(1.04 * var(--vw));
    align-items: center;
    height: calc(96.3 * var(--vh));
    top: calc(16.00 * var(--vh));
    width: 100%;
}


.course-text {
    opacity: 0;
    position: absolute;
    top: calc(54.5 * var(--vh));
    left: calc(69.44 * var(--vw));
    transform: translate(-50%, -50%);
    font-size: calc(1.39 * var(--vw));
    font-family: 'Roboto', sans-serif;
    width: calc(34.72 * var(--vw));
    display: flex;
    flex-direction: column;
    gap: calc(0.56 * var(--vw));
    font-weight: 300;
}

#course-text-umu {
    opacity: 0;
    position: absolute;
    top: calc(34.48 * var(--vh));
    left: calc(15.28 * var(--vw));
    font-size: calc(1.39 * var(--vw));
    font-family: 'Roboto', sans-serif;
    width: calc(34.72 * var(--vw));
    display: flex;
    flex-direction: column;
    gap: calc(0.56 * var(--vw));
    z-index: -1;
    font-weight: 300;
}

.course-text.show, #course-text-umu.show {
    opacity: 1;
    z-index: 1;
}

.row {
    font-size: calc(1.39 * var(--vw));
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.subject-description {
    font-size: calc(0.97 * var(--vw));
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.description {
    font-size: calc(0.97 * var(--vw));
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* Contact Page */
#contact-section {

    height: calc(100 * var(--vh));

}

.contact-header {
    position: absolute;
    font-size: calc(6.94 * var(--vw));
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    left: calc(9.889 * var(--vw));
    top: calc(9.852 * var(--vh));
    color: #ffffff;
    max-width: calc(41.67 * var(--vw));
}

.mail {
    position: absolute;
    font-size: calc(1.67 * var(--vw));
    top: calc(43.08 * var(--vh));
    left: calc(50 * var(--vw));
    color: #ffffff;
    font-weight: 300;
    max-width: calc(26.39 * var(--vw));
    font-family: 'Roboto', sans-serif;
}

.highlighted {
    font-weight: 500;
}

.phone {
    position: absolute;
    font-size: calc(1.1111 * var(--vw)); /* Consider converting to vw if needed */
    max-width: calc(24.3056 * var(--vw));
    text-align: justify;
    top: calc(60.11 * var(--vh));
    left: calc(50 * var(--vw));
    color: #ffffff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.highlighted-2 {
    font-weight: 600;
}

.rectangel-contact {
    position: absolute;
    top: calc(43.2 * var(--vh));
    left: calc(9.889 * var(--vw));
    background-color: #3F3F3F;
    height: calc(54.41 * var(--vh));
    width: calc(33.00 * var(--vw));
    border-top: calc(1.39 * var(--vw)) solid #FFFFFF;
    border-left: calc(1.39 * var(--vw)) solid #FFFFFF;
    border-right: calc(0.35 * var(--vw)) solid #FFFFFF;
    border-bottom: 0;
    border-top-left-radius: calc(0.35 * var(--vw));
    border-top-right-radius: calc(0.35 * var(--vw));
}

.me img {
    position: absolute;
    top: calc(39.16 * var(--vh));
    left: calc(11.279 * var(--vw));
    height: auto;
    width: calc(34.24 * var(--vw));
}
